# 1.2 Fingerprint hashing

Using the previously selected data with the features you found pertinent, you have to:

Implement your minhash function from scratch. No ready-made hash functions are allowed. Read the class material and search the internet if you need to. For reference, it may be practical to look at the description of hash functions in the book.

Process the dataset and add each record to the MinHash. The subtask's goal is to try and map each consumer to its bin; to ensure this works well, be sure you understand how MinHash works and choose a matching threshold to use. Before moving on, experiment with different thresholds, explaining your choice.

In [2]:
import pandas as pd
from tqdm import tqdm as tq
import warnings
import numpy as np
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("/Users/giacomo/Desktop/ADM_HW4/data.csv", sep = '\t')

In [25]:
df

,Unnamed: 0,New_ID,CustGender,CustomerClassAge,Richness,Expenditure
0,0,C1010011F24,F,age_2,richness_7,exp_10
1,1,C1010011M33,M,age_4,richness_9,exp_5
2,2,C1010012M22,M,age_2,richness_6,exp_8
3,3,C1010014F24,F,age_2,richness_7,exp_8
4,4,C1010014M32,M,age_4,richness_9,exp_4
...,...,...,...,...,...,...
1034947,1034947,C9099836M26,M,age_3,richness_9,exp_7
1034948,1034948,C9099877M20,M,age_1,richness_9,exp_4
1034949,1034949,C9099919M23,M,age_2,richness_3,exp_3
1034950,1034950,C9099941M21,M,age_2,richness_7,exp_1
1034951,1034951,C9099956M34,M,age_4,richness_4,exp_7

In [26]:
del df['Unnamed: 0']

# 1.2.1 Shingles

First of all we build the shingles from all the unique values per column in the loaded dataset. We ignore the `TransactionID` column because it is not a shingle.

In [27]:
shingles = []
for column_name in df.columns[1:]:
    shingles += sorted(list(df[column_name].unique()))
    
shingles.remove('age_0')

#In order to not aggregate people who are labelled with age_0, corresponding to the Customer DOB with year 1800 
#(nan), we decided to remove age_0 from shingles such that those people will not have any 1 in the shingle matrix.
#For that reason they will not be considered similar to anyone for the age, but only for the other fields.

In [28]:
print(shingles)

['F', 'M', 'age_1', 'age_10', 'age_11', 'age_12', 'age_13', 'age_14', 'age_15', 'age_16', 'age_17', 'age_2', 'age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8', 'age_9', 'richness_0', 'richness_1', 'richness_10', 'richness_2', 'richness_3', 'richness_4', 'richness_5', 'richness_6', 'richness_7', 'richness_8', 'richness_9', 'exp_1', 'exp_10', 'exp_2', 'exp_3', 'exp_4', 'exp_5', 'exp_6', 'exp_7', 'exp_8', 'exp_9']

# 1.2.2 Create Shingle Matrix

First of all we create the function which maps each transaction into a vector of 0/1 based on the shingles.

In [127]:
def one_hot_vector(data, index):
    """Creates a one hot vector for the row found in the data at the given index based on the shingles.
    
    :args
    data - a pandas dataframe containing the data.
    index - an int which corresponds to the row that will be turned into a one hot vector.
    
    :returns
    a numpy array one hot representation of the row
    """
    
    values = data.loc[index][['CustGender', 'CustomerClassAge', 'Richness', 'Expenditure']].values #extract values
    
    indeces = np.where(values.reshape(values.size, 1) == shingles)[1]  #save indexes
    
    vector = np.zeros(len(shingles), dtype = int)  #initialize vector
    
    vector[indeces] = 1  #substitute 1 in the correct positions
    
    return vector

Example:

In [30]:
print(shingles)

['F', 'M', 'age_1', 'age_10', 'age_11', 'age_12', 'age_13', 'age_14', 'age_15', 'age_16', 'age_17', 'age_2', 'age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8', 'age_9', 'richness_0', 'richness_1', 'richness_10', 'richness_2', 'richness_3', 'richness_4', 'richness_5', 'richness_6', 'richness_7', 'richness_8', 'richness_9', 'exp_1', 'exp_10', 'exp_2', 'exp_3', 'exp_4', 'exp_5', 'exp_6', 'exp_7', 'exp_8', 'exp_9']

In [31]:
df.loc[1]

New_ID              C1010011M33
CustGender                    M
CustomerClassAge          age_4
Richness             richness_9
Expenditure               exp_5
Name: 1, dtype: object

In [32]:
print(one_hot_vector(df, 1))

[0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0
 0 0 0]

In [33]:
len(df)

1034952

Now we can build a sparse matrix with all the encoded transaction. We don't need to insert into the matrix the name of the customerIDs cause we they are linked to the index of the shingle matrix through the index of the column.

In [34]:
shingle_matrix = np.zeros((1034952, 40), dtype = int)

for i in tq(range(len(df))):
    # Append the one hot vectors as rows
    shingle_matrix[df.index[i]] = one_hot_vector(df, i) 

# We need to transpose because for the shuffling, the Shingles need to be the rows
shingle_matrix = shingle_matrix.T

100%|███████████████████████████████| 1034952/1034952 [13:02<00:00, 1322.44it/s]

In [35]:
%store shingle_matrix

Stored 'shingle_matrix' (ndarray)

In [280]:
%store -r shingle_matrix

# 1.2.3 Create the Signature Matrix
From the Shingle Matrix, we will now create the signature matrix by doing the following:
1. Shuffle the rows of the Shingle Matrix.
1. Create a vector where each element corresponds to the index of the row of each column (Shingle) where the first 1 is found.
1. Append this vector to the Signature Matrix.
1. Repeat $n$ times.

The goal of the MinHash is to replace a large set with a smaller "signature" that still preserves the underlying similarity metric.

In [281]:
n_permutations = 20 #number of permutations = number of rows of the signature matrix
signature_matrix = np.zeros((20, shingle_matrix.shape[1]), dtype = int) #initialize signature matrix
np.random.seed(1) #set seed for reproducibility

In [282]:
for i in tq(range(n_permutations)):
    # 1. Shuffle rows
    np.random.shuffle(shingle_matrix)
    
    # 2. Create the vector of indeces where the first 1 is found. np.argmax stops at the first occurrence
    signature_row = np.argmax(shingle_matrix == 1, axis=0) + 1
    
    # 3. Add to signature matrix
    signature_matrix[i] = signature_row

100%|███████████████████████████████████████████| 20/20 [00:35<00:00,  1.78s/it]

In [283]:
signature_matrix

array([[ 8,  1,  2, ...,  7, 34, 12],
       [11,  1,  9, ...,  8, 11, 15],
       [11,  3, 11, ...,  5, 11,  3],
       ...,
       [ 8,  1,  3, ..., 12, 22, 15],
       [11, 19, 10, ..., 11, 11, 24],
       [12,  4,  4, ...,  2,  4,  4]])

In [284]:
signature_matrix.shape

(20, 1034952)

The index of the column can be referred to the customer ID looking at the index of the initial dataframe:

In [285]:
df

,Unnamed: 0,New_ID,CustGender,CustomerClassAge,Richness,Expenditure
0,0,C1010011F24,F,age_2,richness_7,exp_10
1,1,C1010011M33,M,age_4,richness_9,exp_5
2,2,C1010012M22,M,age_2,richness_6,exp_8
3,3,C1010014F24,F,age_2,richness_7,exp_8
4,4,C1010014M32,M,age_4,richness_9,exp_4
...,...,...,...,...,...,...
1034947,1034947,C9099836M26,M,age_3,richness_9,exp_7
1034948,1034948,C9099877M20,M,age_1,richness_9,exp_4
1034949,1034949,C9099919M23,M,age_2,richness_3,exp_3
1034950,1034950,C9099941M21,M,age_2,richness_7,exp_1
1034951,1034951,C9099956M34,M,age_4,richness_4,exp_7

For example the first column of the signature matrix is referred to the customer C1010011F24.

# 1.2.4 Divide Signature Matrix into Bands

The example signature matrix below is divided into $b$ bands of $r$ rows each, and each band is hashed separately. For this example, we are setting band , which means that we will consider any titles with the same first two rows to be similar. The larger we make b the less likely there will be another Paper that matches all of the same permutations.

![signature_matrix_into_bands](https://storage.googleapis.com/lds-media/images/locality-sensitive-hashing-lsh-buckets.width-1200.png)

Ultimately, the size of the bands control the probability that two items with a given Jaccard similarity end up in the same bucket. If the number of bands is larger, you will end up with much smaller sets. For instance, $b = p$, where $p$ is the number of permutations (i.e. rows in the signature matrix) would almost certainly lead to $N$ buckets of only one item because there would be only one item that was perfect similar across every permutation.

In [194]:
b = 4

In [195]:
signature_matrix.T[:, 0:4]

array([[ 4,  4,  2,  1],
       [11,  3, 16, 15],
       [ 5,  3,  2, 22],
       ...,
       [ 6,  3,  2,  9],
       [ 6,  3,  2,  8],
       [17,  3, 18,  6]])

In order to create the buckets we decide to create a dictionary that will have the sub_vector as keys and the indexes that contains that subvector. These indexes will allow us to substistute the related customer:

In [196]:
indexes = list(range(signature_matrix.shape[1])) #create a list of indexes 

signature_matrix_transposed = signature_matrix.T #transpose the matrix to get subvectors column

cluster = {} #initialize the dictionary containing as keys the subvector and as values the indexes of the customer

for i in tq(range(0, signature_matrix.shape[0], b)):  #iterate over the row with step size equal to bandsize
    
    #take the subvector of dimension i, i+b (band size) from the column
    mini_vectors = signature_matrix_transposed[:, i:i+b] 
    
    # sorts the subvectors associated to the indexes to maintain the relationship with the index of the customers.
    # We use a tuple instead of a list because tuples can be hashable and therefore 
    # usable as keys for dictionaries. In this way we will have the same subvector as neighbors
    
    c = [(i, tuple(v)) for v, i in sorted(zip(mini_vectors.tolist(), indexes))]
    
    curr_vector = c[0][1] #take the subvector from the tuple composed by index and subvector
    
    #Now we have equal subvector as neighbor, so we can iterate over these groups of equal subvector
    for i, v in c:  
        
        if v not in cluster: #if the subvector is not a key in the cluster --> initialize it 
            
            cluster[v] = []
        
        if curr_vector != v: #when the iteration go over the group of equal subvector updtate the current vector
            
            curr_vector = v

        cluster[v].append(i) #append as values the indexes

100%|█████████████████████████████████████████████| 5/5 [00:32<00:00,  6.58s/it]

As example we print the first 5 keys -> subvector:

In [197]:
print(list(cluster.keys())[:5])

[(1, 1, 4, 1), (1, 1, 4, 6), (1, 1, 4, 8), (1, 1, 4, 9), (1, 1, 4, 10)]

For example for the subvector 1,1,1,9 we have as values the indexes of the Customers that have been mapped in the same bucket:

In [199]:
cluster[(1, 1, 4, 6)]

[118,
 1167,
 1641,
 1761,
 1943,
 1976,
 2181,
 2298,
 2355,
 2440,
 2652,
 2844,
 2871,
 3381,
 3400,
 3412,
 3768,
 3780,
 3966,
 3988,
 4377,
 4530,
 4549,
 4740,
 5400,
 5693,
 7119,
 7675,
 7938,
 8339,
 8677,
 8748,
 9528,
 9640,
 10723,
 10774,
 11450,
 11757,
 12321,
 12506,
 12631,
 12654,
 12813,
 12824,
 13047,
 13821,
 14543,
 14889,
 14975,
 15039,
 15163,
 15174,
 15247,
 15472,
 16119,
 16298,
 16331,
 16447,
 16470,
 16484,
 16505,
 16532,
 16580,
 16817,
 17409,
 17450,
 17928,
 18315,
 18391,
 18611,
 19125,
 19251,
 19528,
 19738,
 19796,
 20008,
 20107,
 20255,
 20507,
 20741,
 20858,
 20982,
 21155,
 21158,
 21357,
 21569,
 21575,
 21696,
 21725,
 22218,
 22465,
 23781,
 23895,
 23897,
 25293,
 25487,
 26025,
 26812,
 27081,
 27356,
 27385,
 27432,
 27585,
 28240,
 28392,
 28418,
 28755,
 28930,
 29164,
 29556,
 29570,
 29679,
 29965,
 30830,
 31164,
 31409,
 31438,
 31538,
 31852,
 32254,
 32658,
 32800,
 33339,
 33647,
 33932,
 34497,
 34598,
 35154,
 35491,
 35837,
 36065,
 36206,
 36263,
 36306,
 36485,
 36548,
 36656,
 36770,
 36816,
 36978,
 37244,
 37974,
 38101,
 38160,
 38257,
 38358,
 38546,
 38606,
 38643,
 38649,
 38991,
 38995,
 39210,
 39676,
 39873,
 39884,
 40111,
 40140,
 40490,
 40847,
 41461,
 41508,
 41770,
 41810,
 41846,
 42022,
 42134,
 42138,
 42756,
 42767,
 42778,
 42830,
 43026,
 43163,
 43183,
 43184,
 43336,
 43525,
 43778,
 44124,
 44145,
 44225,
 44564,
 44913,
 44997,
 45004,
 45346,
 45979,
 46788,
 46886,
 47071,
 47147,
 47278,
 47679,
 47824,
 47825,
 47929,
 48092,
 48118,
 48504,
 48525,
 48531,
 48641,
 48712,
 48963,
 48967,
 48987,
 49048,
 49118,
 49440,
 49587,
 49999,
 50186,
 50327,
 50578,
 50805,
 50849,
 50947,
 50954,
 50966,
 51616,
 51628,
 52018,
 52127,
 52128,
 52371,
 52600,
 52883,
 52885,
 53039,
 53108,
 53444,
 53704,
 54049,
 54056,
 54214,
 54237,
 54545,
 54745,
 54859,
 55139,
 55642,
 55813,
 56109,
 56316,
 56641,
 56979,
 56990,
 57492,
 57600,
 57948,
 58065,
 58085,
 58110,
 58232,
 59048,
 59562,
 59568,
 59704,
 59723,
 60185,
 60443,
 60513,
 60687,
 60970,
 61113,
 61143,
 61294,
 61615,
 61773,
 61813,
 62182,
 62270,
 62330,
 62466,
 62671,
 62847,
 63075,
 63632,
 63687,
 64068,
 64689,
 64933,
 65491,
 65665,
 65726,
 65817,
 66165,
 66645,
 66777,
 66815,
 66828,
 67154,
 67298,
 67543,
 67636,
 67732,
 67782,
 68436,
 68456,
 68592,
 70613,
 70907,
 70930,
 70951,
 71046,
 71098,
 71188,
 71329,
 72023,
 72522,
 72533,
 72654,
 73319,
 73861,
 74800,
 74890,
 75369,
 75616,
 75738,
 76005,
 76609,
 76667,
 76910,
 77132,
 77298,
 77824,
 77937,
 78181,
 78397,
 78873,
 79212,
 79417,
 79980,
 80207,
 80214,
 80426,
 80878,
 80915,
 80959,
 81271,
 81509,
 81930,
 82956,
 83056,
 83643,
 83717,
 84316,
 84600,
 84615,
 84928,
 85003,
 85710,
 85905,
 86064,
 86099,
 86113,
 86302,
 86329,
 86926,
 87853,
 87911,
 88222,
 88445,
 88663,
 88729,
 88972,
 89684,
 90051,
 90475,
 90764,
 90822,
 90974,
 91449,
 91496,
 91709,
 91733,
 91816,
 91996,
 92073,
 92250,
 92471,
 92472,
 92487,
 92489,
 92825,
 92843,
 92864,
 93034,
 93068,
 93099,
 93140,
 93364,
 93515,
 93638,
 93716,
 93739,
 94627,
 94664,
 94884,
 94909,
 95116,
 95130,
 95224,
 95746,
 95809,
 95996,
 96369,
 96514,
 97049,
 97394,
 97728,
 98113,
 98130,
 98280,
 99076,
 99682,
 100060,
 100164,
 100692,
 101061,
 101138,
 101406,
 101597,
 101923,
 102089,
 102249,
 102280,
 102686,
 102842,
 103085,
 103253,
 103372,
 103646,
 103648,
 103680,
 103730,
 104708,
 104942,
 104962,
 105223,
 105501,
 105912,
 106206,
 106581,
 106599,
 106695,
 107042,
 107157,
 107256,
 107654,
 107769,
 107771,
 108011,
 108066,
 108833,
 108835,
 108850,
 109026,
 109747,
 110099,
 110764,
 110800,
 110828,
 110889,
 111704,
 111850,
 112496,
 113406,
 113407,
 113854,
 114699,
 114723,
 115197,
 115903,
 116099,
 116172,
 116173,
 116491,
 116755,
 117197,
 117504,
 117866,
 118488,
 118909,
 119064,
 119158,
 119903,
 120023,
 120144,
 120741,
 121288,
 121435,
 121699,
 122376,
 123435,
 123848,
 124021,
 124447,
 124661,
 124930,
 125090,
 125171,
 125248,
 125532,
 125761,
 125764,
 125914,
 126000,
 126050,
 126163,
 126226,
 126507,
 126602,
 127350,
 127499,
 127777,
 128079,
 128084,
 128094,
 128794,
 129183,
 129442,
 129451,
 129456,
 129640,
 129668,
 129829,
 129897,
 130458,
 131407,
 131413,
 131438,
 132081,
 132160,
 132215,
 132485,
 132712,
 133081,
 133114,
 134624,
 135639,
 135722,
 136140,
 136156,
 136597,
 137198,
 137317,
 137593,
 137824,
 139202,
 139493,
 140418,
 140547,
 140716,
 140808,
 140874,
 140998,
 141310,
 141657,
 141672,
 141957,
 142545,
 142720,
 142984,
 143681,
 143762,
 143961,
 144073,
 144239,
 144269,
 144422,
 144820,
 144994,
 145012,
 145026,
 145417,
 146202,
 146375,
 146734,
 147126,
 147659,
 147882,
 147997,
 148388,
 148513,
 148594,
 148844,
 149279,
 149555,
 149685,
 149924,
 150106,
 150119,
 150249,
 150379,
 150434,
 150473,
 150760,
 150809,
 150950,
 150981,
 151103,
 151395,
 151407,
 152261,
 152823,
 152865,
 152894,
 152938,
 153197,
 153494,
 153552,
 153659,
 153806,
 153862,
 154035,
 154973,
 154979,
 155133,
 155718,
 155910,
 156045,
 156090,
 156287,
 156460,
 156680,
 157129,
 157130,
 157137,
 157184,
 157244,
 157299,
 157443,
 157833,
 157992,
 158233,
 158599,
 158766,
 158973,
 159015,
 159176,
 159247,
 160142,
 160905,
 161229,
 162037,
 162055,
 162115,
 162150,
 162184,
 162280,
 162294,
 162428,
 162476,
 163428,
 163686,
 163870,
 164063,
 164276,
 164395,
 164454,
 164933,
 165024,
 165170,
 165313,
 165355,
 165756,
 165779,
 165793,
 165860,
 166042,
 166091,
 166347,
 166489,
 167174,
 167182,
 167690,
 167924,
 168139,
 168274,
 168282,
 168401,
 168513,
 168782,
 169042,
 169185,
 169252,
 169312,
 169418,
 169468,
 169493,
 169688,
 169934,
 170414,
 170711,
 170988,
 171444,
 171749,
 171903,
 172562,
 172659,
 172843,
 172934,
 173188,
 173265,
 173634,
 173752,
 173806,
 174105,
 174183,
 174470,
 174583,
 174652,
 174680,
 174916,
 175121,
 175179,
 175355,
 175546,
 175575,
 175688,
 175894,
 176326,
 176528,
 176951,
 177023,
 177305,
 177481,
 177707,
 177814,
 178045,
 178201,
 178261,
 178436,
 178885,
 179034,
 179119,
 179193,
 179281,
 179369,
 179628,
 179880,
 180276,
 180356,
 180438,
 180556,
 180899,
 181553,
 181556,
 181561,
 181675,
 181989,
 182434,
 182601,
 182690,
 182714,
 182777,
 183016,
 183190,
 183840,
 184391,
 184820,
 185774,
 186090,
 186102,
 186692,
 186933,
 187030,
 187163,
 187371,
 187725,
 187728,
 187807,
 188991,
 189019,
 189098,
 189159,
 189290,
 189869,
 189975,
 190154,
 190258,
 190390,
 190684,
 190779,
 191039,
 191487,
 191605,
 191623,
 191652,
 191890,
 192058,
 192234,
 192294,
 193139,
 193244,
 193343,
 193428,
 193665,
 193692,
 193931,
 194125,
 194704,
 194747,
 194755,
 194904,
 194926,
 195004,
 195151,
 195208,
 195308,
 195391,
 195415,
 195686,
 195876,
 196007,
 196429,
 196468,
 196541,
 196586,
 197036,
 197144,
 197543,
 198519,
 198651,
 198681,
 199289,
 199432,
 199556,
 200144,
 200497,
 201060,
 201653,
 201686,
 202105,
 202343,
 202405,
 202871,
 204000,
 204164,
 204685,
 205389,
 205636,
 205974,
 206145,
 206179,
 206436,
 206491,
 206615,
 206885,
 207132,
 207305,
 207410,
 207575,
 207828,
 207935,
 207941,
 208611,
 208948,
 209259,
 209377,
 209503,
 209804,
 209875,
 209945,
 210470,
 210849,
 210912,
 212045,
 212159,
 212324,
 212477,
 212499,
 212626,
 212649,
 212870,
 212960,
 213503,
 213822,
 214480,
 214532,
 214694,
 214828,
 215176,
 215292,
 215630,
 216026,
 216620,
 216961,
 217112,
 217328,
 217417,
 217508,
 217780,
 218274,
 218356,
 218516,
 218522,
 218854,
 218873,
 218957,
 219732,
 219745,
 219787,
 219937,
 219957,
 220831,
 220952,
 221201,
 221247,
 221564,
 221875,
 222185,
 222390,
 222459,
 222685,
 222777,
 223278,
 223484,
 223674,
 223690,
 223726,
 223903,
 224184,
 224628,
 224892,
 225158,
 225234,
 225459,
 225507,
 225744,
 226477,
 226741,
 226957,
 227141,
 227266,
 227455,
 227552,
 227603,
 227797,
 227908,
 228043,
 228301,
 228500,
 228784,
 228884,
 229211,
 229333,
 229595,
 229627,
 230256,
 230298,
 230442,
 230644,
 231413,
 231650,
 232245,
 232255,
 232384,
 232512,
 232725,
 232962,
 233345,
 233401,
 233473,
 233553,
 233621,
 234057,
 234208,
 234483,
 234578,
 234606,
 234607,
 235117,
 235174,
 235299,
 235963,
 236070,
 236366,
 236584,
 236782,
 236833,
 237154,
 237369,
 238116,
 238154,
 239347,
 239644,
 239738,
 240195,
 240714,
 240743,
 240778,
 241109,
 241661,
 241871,
 242598,
 242704,
 243601,
 ...]

Through them we can recover the customers and visually check for their similarity

In [201]:
df.loc[cluster[(1, 1, 4, 6)]]

,Unnamed: 0,New_ID,CustGender,CustomerClassAge,Richness,Expenditure
118,118,C1010357F26,F,age_3,richness_7,exp_7
1167,1167,C1013653M27,M,age_3,richness_7,exp_7
1641,1641,C1014989M28,M,age_3,richness_7,exp_7
1761,1761,C1015444M28,M,age_3,richness_7,exp_7
1943,1943,C1015980M27,M,age_3,richness_7,exp_7
...,...,...,...,...,...,...
1033933,1033933,C9069763M29,M,age_3,richness_7,exp_7
1033997,1033997,C9072066M30,M,age_3,richness_7,exp_7
1034200,1034200,C9078355M26,M,age_3,richness_7,exp_7
1034626,1034626,C9090674M27,M,age_3,richness_7,exp_7
1034932,1034932,C9099342M28,M,age_3,richness_7,exp_7

We decided to convert each list of indexes of every keys with the list of the related Customers

In [202]:
for key in cluster.keys():
    
    cluster[key] = df.loc[cluster[key]]['New_ID'].to_list()

Now the dictionary cluster contains as keys the name of the bucket (subvector) and as values the CustomerIDs.

In [203]:
cluster[(1, 1, 4, 6)]

['C1010357F26',
 'C1013653M27',
 'C1014989M28',
 'C1015444M28',
 'C1015980M27',
 'C1016072F30',
 'C1016680F28',
 'C1017059M26',
 'C1017221M30',
 'C1017516M28',
 'C1018040F26',
 'C1018587M27',
 'C1018679F28',
 'C1020152M27',
 'C1020229F26',
 'C1020264F26',
 'C1021370F26',
 'C1021416M26',
 'C1021990M28',
 'C1022068M26',
 'C1023241M28',
 'C1023716M28',
 'C1023774F26',
 'C1024265F28',
 'C1026288M29',
 'C1027157M28',
 'C1031622F26',
 'C1033326M28',
 'C1034140M29',
 'C1035372M30',
 'C1036376M27',
 'C1036555M27',
 'C1038872F27',
 'C1039192M28',
 'C1042568F26',
 'C1042712M30',
 'C1061633M26',
 'C1070824F26',
 'C1087479M26',
 'C1093011M26',
 'C1096859M28',
 'C1097589M29',
 'C1110237F29',
 'C1110253M28',
 'C1110891M30',
 'C1113338M28',
 'C1115492F27',
 'C1116519M26',
 'C1116827M27',
 'C1116990F26',
 'C1117353F27',
 'C1117385M29',
 'C1117568F29',
 'C1118174F26',
 'C1120083M26',
 'C1120579M27',
 'C1120681M26',
 'C1121070M26',
 'C1121148F30',
 'C1121189F26',
 'C1121263M27',
 'C1121345F26',
 'C1121492M30',
 'C1122172F26',
 'C1124022M26',
 'C1124139M30',
 'C1125519M27',
 'C1126718M30',
 'C1126950M26',
 'C1127589F26',
 'C1129150F28',
 'C1129562M30',
 'C1130344F27',
 'C1130970F29',
 'C1131133M28',
 'C1131834F26',
 'C1132148F28',
 'C1132581F30',
 'C1133386M28',
 'C1134246M29',
 'C1134616M30',
 'C1134958M30',
 'C1135475M29',
 'C1135483M30',
 'C1136121F28',
 'C1136723M27',
 'C1136737F27',
 'C1137146M30',
 'C1137255M26',
 'C1138786F26',
 'C1139644F27',
 'C1149792F28',
 'C1153129F30',
 'C1153159F30',
 'C1194283M26',
 'C1199723M27',
 'C1211463M30',
 'C1213849F26',
 'C1214572M29',
 'C1215426M28',
 'C1215479F29',
 'C1215664M29',
 'C1216166M29',
 'C1218125F30',
 'C1218576F28',
 'C1218673M29',
 'C1219621M30',
 'C1220080M26',
 'C1220740F29',
 'C1221945F27',
 'C1221961M26',
 'C1222291M30',
 'C1223112M29',
 'C1225762M29',
 'C1226733F28',
 'C1227457F29',
 'C1227570M30',
 'C1227861M27',
 'C1228847M29',
 'C1230144M26',
 'C1231366M28',
 'C1231782F30',
 'C1233526M30',
 'C1234525M30',
 'C1235432M30',
 'C1237214M29',
 'C1237465F27',
 'C1239188F27',
 'C1240245M28',
 'C1241216F30',
 'C1241965F28',
 'C1242433M28',
 'C1242629M28',
 'C1242780M28',
 'C1246822M30',
 'C1248635F27',
 'C1251651M30',
 'C1254987F28',
 'C1256514M27',
 'C1260921M30',
 'C1268730M28',
 'C1291714M28',
 'C1294749F26',
 'C1296552F27',
 'C1299521F27',
 'C1310211F28',
 'C1310755F26',
 'C1310957F28',
 'C1311057F27',
 'C1311067M27',
 'C1312150F28',
 'C1312159M30',
 'C1312776F28',
 'C1314144F29',
 'C1314676M26',
 'C1314718F27',
 'C1315379M28',
 'C1315468F27',
 'C1316531F28',
 'C1317570M28',
 'C1319543M30',
 'C1319676F27',
 'C1320560M29',
 'C1320674M30',
 'C1320764M26',
 'C1321260M29',
 'C1321622F28',
 'C1321637M29',
 'C1323373M27',
 'C1323390M27',
 'C1323429M26',
 'C1323554F27',
 'C1324178M28',
 'C1324578M29',
 'C1324634F27',
 'C1324634M29',
 'C1325049M26',
 'C1325622M27',
 'C1326463M30',
 'C1327479F28',
 'C1327541M30',
 'C1327823M27',
 'C1328839F26',
 'C1329921F26',
 'C1330135M26',
 'C1330148M28',
 'C1331191M27',
 'C1333239M29',
 'C1335838F30',
 'C1336142F28',
 'C1336669M27',
 'C1336926M30',
 'C1337350M27',
 'C1338558F28',
 'C1338985M29',
 'C1338987F30',
 'C1339326M27',
 'C1339924M30',
 'C1339964M30',
 'C1341225F30',
 'C1341284M26',
 'C1341334F27',
 'C1341738F29',
 'C1341964M28',
 'C1342750M26',
 'C1342762M26',
 'C1342827M30',
 'C1343548M30',
 'C1345841F28',
 'C1356522F26',
 'C1361163M30',
 'C1373346M28',
 'C1378836F30',
 'C1383353F28',
 'C1391517M29',
 'C1398340M26',
 'C1399836M30',
 'C1410325F26',
 'C1410343F26',
 'C1410376F26',
 'C1412337M28',
 'C1412363M27',
 'C1413524F30',
 'C1413844M28',
 'C1413845F26',
 'C1414540M29',
 'C1415256M30',
 'C1416070M27',
 'C1416075M26',
 'C1416539M28',
 'C1416713F27',
 'C1417592F30',
 'C1418419F28',
 'C1419454M29',
 'C1419466M29',
 'C1419977M26',
 'C1420065M26',
 'C1420877M29',
 'C1421539F26',
 'C1421882F29',
 'C1422669F28',
 'C1424127F27',
 'C1424717M29',
 'C1425675M27',
 'C1426327F30',
 'C1427250M29',
 'C1428348M29',
 'C1428373M29',
 'C1429914M27',
 'C1430240M29',
 'C1431235F28',
 'C1431581M26',
 'C1431651M28',
 'C1431725M26',
 'C1432152F30',
 'C1434675M27',
 'C1436242M28',
 'C1436256M28',
 'C1436635M27',
 'C1436664F27',
 'C1438051F28',
 'C1438811F27',
 'C1438965M30',
 'C1439541M26',
 'C1440340M27',
 'C1440691F26',
 'C1440780F29',
 'C1441230M26',
 'C1442165F29',
 'C1442630M30',
 'C1442754F27',
 'C1452290M30',
 'C1454946F28',
 'C1456577M27',
 'C1460225F28',
 'C1466653F26',
 'C1472065M30',
 'C1478078M29',
 'C1493822M27',
 'C1495263M28',
 'C1510678M27',
 'C1512570M28',
 'C1513333F26',
 'C1514973M29',
 'C1515463M28',
 'C1515664M30',
 'C1515950F26',
 'C1516965F29',
 'C1518436M27',
 'C1518872F27',
 'C1519011F29',
 'C1519028F26',
 'C1520028M26',
 'C1520454M29',
 'C1521155F26',
 'C1521467F26',
 'C1521750M26',
 'C1521879M26',
 'C1523783M27',
 'C1523842M30',
 'C1524244F28',
 'C1530417M27',
 'C1531251M29',
 'C1531321M28',
 'C1531377M28',
 'C1531674F29',
 'C1531815M28',
 'C1532112M30',
 'C1532486M30',
 'C1534676M30',
 'C1536241M28',
 'C1536270F27',
 'C1536647M28',
 'C1538814F27',
 'C1540635F26',
 'C1550575M28',
 'C1553421F27',
 'C1567778F29',
 'C1575325M26',
 'C1578969F30',
 'C1588128M28',
 'C1610589M30',
 'C1610770F26',
 'C1611542M29',
 'C1612236M30',
 'C1612678M29',
 'C1614318F30',
 'C1614665M28',
 'C1615461M28',
 'C1616170M29',
 'C1617561F30',
 'C1618677M30',
 'C1619291M26',
 'C1621073F26',
 'C1621828M26',
 'C1621841M27',
 'C1622426F26',
 'C1623766M28',
 'C1623861M26',
 'C1623960M26',
 'C1624884M27',
 'C1625638M30',
 'C1626966M27',
 'C1630024F26',
 'C1630273M30',
 'C1632027M29',
 'C1632186M30',
 'C1633964M30',
 'C1634830M29',
 'C1634882F26',
 'C1635785F26',
 'C1635985M28',
 'C1638081M29',
 'C1638648M30',
 'C1639125F28',
 'C1639237M27',
 'C1639276M26',
 'C1639835M28',
 'C1639913M29',
 'C1641516M29',
 'C1657363M30',
 'C1659327M29',
 'C1668678M30',
 'C1675316M26',
 'C1681019M30',
 'C1683182M27',
 'C1690547M26',
 'C1711246M28',
 'C1712417F28',
 'C1713678M27',
 'C1714550M29',
 'C1714739M28',
 'C1715171F28',
 'C1716567F29',
 'C1716763F26',
 'C1717427F30',
 'C1717512M26',
 'C1717788M29',
 'C1718352F26',
 'C1718572M27',
 'C1719052F26',
 'C1719647F27',
 'C1719651M30',
 'C1719682M30',
 'C1719684F29',
 'C1720688M29',
 'C1720734F27',
 'C1720769F27',
 'C1721284M30',
 'C1721370F30',
 'C1721463F26',
 'C1721570M26',
 'C1722189F26',
 'C1722656F29',
 'C1723023F30',
 'C1723265M28',
 'C1723335F26',
 'C1725936M30',
 'C1726039M29',
 'C1726730M28',
 'C1726790M30',
 'C1727455M29',
 'C1727487F29',
 'C1727836M26',
 'C1729414M30',
 'C1729642M26',
 'C1730183M30',
 'C1731233M28',
 'C1731629F26',
 'C1733226F26',
 'C1734336F28',
 'C1735339M28',
 'C1736414M27',
 'C1736473M27',
 'C1736923M30',
 'C1739327M26',
 'C1741225M26',
 'C1742492M30',
 'C1742835F29',
 'C1757372M27',
 'C1768784M28',
 'C1771222M28',
 'C1778838M30',
 'C1783778M28',
 'C1793979F28',
 'C1798931M27',
 'C1810356F26',
 'C1810466F27',
 'C1811786M29',
 'C1812283M27',
 'C1813080M26',
 'C1813565F30',
 'C1813912M27',
 'C1814754M26',
 'C1814761M26',
 'C1814829M26',
 'C1814957M29',
 'C1817828F28',
 'C1818520M27',
 'C1818624M27',
 'C1819414M29',
 'C1820225F26',
 'C1821421M30',
 'C1822265M30',
 'C1823345M28',
 'C1823382F26',
 'C1823674M30',
 'C1824731M29',
 'C1825036M26',
 'C1825337M26',
 'C1826572M30',
 'C1826925F27',
 'C1826928M26',
 'C1827555M29',
 'C1827732M26',
 'C1830146F27',
 'C1830148M26',
 'C1830220M30',
 'C1830746M29',
 'C1832991F26',
 'C1834129M28',
 'C1835968M26',
 'C1836062M28',
 'C1836150F28',
 'C1836322M26',
 'C1838859M28',
 'C1839235F29',
 'C1841213M26',
 'C1853159F30',
 'C1853180F30',
 'C1866938M26',
 'C1892338F29',
 'C1893150F28',
 'C1910755F26',
 'C1912961M29',
 'C1913569M27',
 'C1913840F29',
 'C1913842F29',
 'C1914831F27',
 'C1915555M28',
 'C1916791M28',
 'C1917666M28',
 'C1918733M26',
 'C1920634M30',
 'C1921913M26',
 'C1922327M30',
 'C1922559F27',
 'C1924736M28',
 'C1925078M26',
 'C1925486M28',
 'C1927445M26',
 'C1929087M30',
 'C1929556M30',
 'C1930372F27',
 'C1932516F30',
 'C1935656F26',
 'C1936968M30',
 'C1937455F27',
 'C1938841F27',
 'C1939567M28',
 'C1940389F30',
 'C1940873F29',
 'C1941126M27',
 'C1941379F30',
 'C1942241M28',
 'C1942874M27',
 'C1942876M26',
 'C1946569F30',
 'C1948892M29',
 'C1950551F26',
 'C1954067M27',
 'C1955884F29',
 'C1964155M30',
 'C1966640F26',
 'C1989845M29',
 'C1995090M26',
 'C2010349M27',
 'C2011224M30',
 'C2011239F26',
 'C2011265M28',
 'C2013492F30',
 'C2014675M30',
 'C2015435M28',
 'C2015448M28',
 'C2015457M28',
 'C2015960M28',
 'C2016059M27',
 'C2016673M29',
 'C2016875M27',
 'C2018622M30',
 'C2021533M26',
 'C2021547F26',
 'C2021616F28',
 'C2023515F27',
 'C2023764F26',
 'C2023914M29',
 'C2024677M29',
 'C2025460M28',
 'C2026680M30',
 'C2026760M26',
 'C2031171M28',
 'C2034224M26',
 'C2034446F29',
 'C2035679F27',
 'C2035730F27',
 'C2037071F26',
 'C2038786M27',
 'C2039130M30',
 'C2039964M29',
 'C2040728M28',
 'C2064045M29',
 'C2073114M29',
 'C2099141M29',
 'C2110331F26',
 'C2110782M26',
 'C2111069F29',
 'C2111269M29',
 'C2111681F27',
 'C2112671F26',
 'C2113778M30',
 'C2113844F29',
 'C2114676F27',
 'C2116539F27',
 'C2117029M26',
 'C2117837F28',
 'C2119846M29',
 'C2120060M30',
 'C2120687M29',
 'C2121051M26',
 'C2121490M26',
 'C2121570M26',
 'C2122042M29',
 'C2123152F27',
 'C2123638M30',
 'C2123690M26',
 'C2123734M27',
 'C2124782M29',
 'C2127244M30',
 'C2127829M30',
 'C2128832M27',
 'C2130048M29',
 'C2131780M26',
 'C2132467F29',
 'C2132824M28',
 'C2133971F27',
 'C2134385F28',
 'C2134646M28',
 'C2135442M30',
 'C2136723F27',
 'C2137583F26',
 'C2138022F27',
 'C2138750F26',
 'C2139272M27',
 'C2139344F26',
 'C2139833F30',
 'C2140172M26',
 'C2140346M26',
 'C2140466M28',
 'C2141365M26',
 'C2141531M29',
 'C2141972M29',
 'C2142055M27',
 'C2142420M26',
 'C2146863M30',
 'C2147414M27',
 'C2173937F26',
 'C2191773M28',
 'C2193058M30',
 'C2193868M27',
 'C2194747F26',
 'C2210213F28',
 'C2211111M27',
 'C2211330M27',
 'C2211612F27',
 'C2212024F29',
 'C2212190M30',
 'C2212660F26',
 'C2215428M28',
 'C2215440M28',
 'C2215847F30',
 'C2217525M30',
 'C2218076F29',
 'C2218524F26',
 'C2218638M30',
 'C2219228M26',
 'C2219811M29',
 'C2220413M29',
 'C2221659F27',
 'C2221662M29',
 'C2221679F27',
 'C2221849M28',
 'C2221992M26',
 'C2222150M30',
 'C2222585M26',
 'C2223720M26',
 'C2224141M28',
 'C2224775M29',
 'C2225961M26',
 'C2226487F26',
 'C2227134M29',
 'C2227256M29',
 'C2227737M30',
 'C2227952M29',
 'C2230778M28',
 'C2233135M28',
 'C2234191M26',
 'C2236646M30',
 'C2236683F27',
 'C2236849M30',
 'C2236956M30',
 'C2237063M26',
 'C2237388F26',
 'C2237448F27',
 'C2237915M27',
 'C2238053F27',
 'C2241120M26',
 'C2241976M29',
 'C2242513F26',
 'C2244058M28',
 'C2249766F28',
 'C2253147F30',
 'C2254938F28',
 'C2269190M28',
 'C2272017F28',
 'C2275858M29',
 'C2280111M28',
 'C2281663M26',
 'C2293021M26',
 'C2293871M27',
 'C2294232M28',
 'C2295719M26',
 'C2310190M27',
 'C2310356F26',
 'C2311114M27',
 'C2311511F29',
 'C2313573M29',
 'C2313588F30',
 'C2315131F28',
 'C2315919M27',
 'C2316528M28',
 'C2316939F26',
 'C2316964F30',
 'C2317287M28',
 'C2317628M27',
 'C2318447F26',
 'C2319247M27',
 'C2319682M29',
 'C2319870M29',
 'C2320051M26',
 'C2320350M28',
 'C2320466M29',
 'C2320561M27',
 'C2321140F30',
 'C2321884M28',
 'C2323282F26',
 'C2324153M30',
 'C2325060M26',
 'C2326480F30',
 'C2327441M29',
 'C2327919F27',
 'C2329818M30',
 'C2330117M26',
 'C2330784M27',
 'C2331035M27',
 'C2331886M28',
 'C2332172F28',
 'C2333283M29',
 'C2333679M26',
 'C2333820M28',
 'C2334683F29',
 'C2334968M30',
 'C2335726F26',
 'C2336024M28',
 'C2336223M28',
 'C2336278M28',
 'C2336956M30',
 'C2337547M28',
 'C2337718F26',
 'C2338273F29',
 'C2338885F27',
 'C2338983M29',
 'C2339384M30',
 'C2340073M26',
 'C2341334M26',
 'C2341968M28',
 'C2346528F30',
 'C2348729F26',
 'C2357431M27',
 'C2362358M28',
 'C2369174M28',
 'C2372171M29',
 'C2378487M29',
 'C2382821M28',
 'C2384141M27',
 'C2389370M30',
 'C2410337F26',
 'C2410824F30',
 'C2411055F29',
 'C2411263F26',
 'C2411512M30',
 'C2411736M28',
 'C2412621F28',
 'C2413448M28',
 'C2414546M28',
 'C2414812F26',
 'C2415134F29',
 'C2415485F29',
 'C2416548M28',
 'C2418644M27',
 'C2418659M30',
 'C2418666F28',
 'C2418971M30',
 'C2419941M26',
 'C2421220F27',
 'C2421734M26',
 'C2421961M26',
 'C2421991F27',
 'C2422226M30',
 'C2422911F27',
 'C2423417M26',
 'C2425353M29',
 'C2427042M28',
 'C2428368M30',
 'C2431239M29',
 'C2432164F28',
 'C2432224M26',
 'C2433948F27',
 'C2434727F29',
 'C2435080M26',
 'C2435479F27',
 'C2436111F27',
 'C2437250F30',
 'C2437253M26',
 'C2437517M27',
 'C2441245F30',
 'C2441340M28',
 'C2441630M27',
 'C2441844F29',
 'C2442228F26',
 'C2454043M27',
 'C2457355M30',
 'C2463557M27',
 'C2466036M26',
 'C2469667M29',
 'C2478418M29',
 'C2481089M30',
 'C2488167M28',
 'C2510146M27',
 'C2510473M26',
 'C2510522M29',
 'C2510568M30',
 'C2511259F26',
 'C2511837F27',
 'C2512375M26',
 'C2512564M26',
 'C2515230M28',
 'C2515563M30',
 'C2515790M26',
 'C2516089M27',
 'C2516815M26',
 'C2516863M29',
 'C2517562F30',
 'C2518174M30',
 'C2519914M26',
 'C2520049M26',
 'C2520071M26',
 'C2520483M29',
 'C2520554M28',
 'C2520750M26',
 'C2521271F27',
 'C2521470M30',
 'C2521785F28',
 'C2522020F28',
 'C2522132F26',
 'C2522930M30',
 'C2523436M26',
 'C2523919F28',
 'C2525219F27',
 'C2525326M30',
 'C2525558M26',
 'C2525686F30',
 'C2527076F27',
 'C2527389F26',
 'C2528567M30',
 'C2531527M30',
 'C2531934M26',
 'C2532026M26',
 'C2533979F27',
 'C2534451F29',
 'C2534814F28',
 'C2536626M26',
 'C2537711M29',
 'C2539670F28',
 'C2541551M27',
 'C2541663M27',
 'C2542883M26',
 'C2549978M29',
 'C2551636F29',
 'C2564847M29',
 'C2598375M26',
 'C2610417M26',
 'C2612036M30',
 'C2614192M30',
 'C2615050F28',
 'C2616043F27',
 'C2616555M27',
 'C2616647F28',
 'C2617315F27',
 'C2617455M30',
 'C2617852F28',
 'C2618628M29',
 'C2619449M30',
 'C2620017M26',
 'C2620334M26',
 'C2620821F28',
 'C2621550M28',
 'C2621932M26',
 'C2621937F29',
 'C2623926M27',
 'C2625016M30',
 'C2626031M28',
 'C2626369F30',
 'C2626811F26',
 'C2627579F26',
 'C2627811M27',
 'C2628022F29',
 'C2629572F28',
 'C2630725M30',
 'C2630919M30',
 'C2634358M29',
 'C2634683M26',
 'C2635180F29',
 'C2635660F27',
 'C2635721M30',
 'C2636144F27',
 'C2636217M28',
 'C2636980M30',
 'C2637264M28',
 'C2638837M28',
 'C2639827M28',
 'C2641912F29',
 'C2642052M28',
 'C2642572F26',
 'C2643581M27',
 'C2655217M27',
 'C2658952F27',
 'C2669680M27',
 'C2681245F30',
 'C2698948M27',
 'C2710835M30',
 'C2711289M26',
 'C2711884F27',
 'C2712181M30',
 'C2712431M30',
 'C2713248M26',
 'C2714663M27',
 'C2714960F28',
 'C2715453F27',
 'C2715465F28',
 'C2716524F27',
 'C2716575M27',
 'C2716859M26',
 'C2719260M26',
 'C2719288M26',
 'C2719452M28',
 'C2719884M29',
 'C2719978M26',
 'C2722570F28',
 'C2722953F27',
 'C2723666M30',
 'C2723779M27',
 'C2724671M27',
 'C2725650M28',
 'C2726620F26',
 'C2727233F27',
 'C2727439M30',
 'C2728092F29',
 'C2728367M29',
 'C2729950F26',
 'C2730617M30',
 'C2731159M30',
 'C2731212M28',
 'C2731318M28',
 'C2731840M28',
 'C2732712M29',
 'C2734112M26',
 'C2734956M30',
 'C2735662F27',
 'C2735929M28',
 'C2736633M27',
 'C2736755F27',
 'C2737466M30',
 'C2739680F27',
 'C2740531M29',
 'C2741159M28',
 'C2741820F29',
 'C2742171F28',
 'C2742789M28',
 'C2744535M28',
 'C2745860F28',
 'C2751613M30',
 'C2755550F26',
 'C2759843F29',
 'C2767648M27',
 'C2774550M26',
 'C2783312F28',
 'C2786057F28',
 'C2795454F28',
 'C2799719M27',
 'C2810671M29',
 'C2810773F26',
 'C2812547M28',
 'C2812677M27',
 'C2813162F27',
 'C2813740F26',
 'C2815870F30',
 'C2816545M28',
 'C2818483F28',
 'C2818521F26',
 'C2818876F27',
 'C2819215M26',
 'C2819865M29',
 'C2820587M27',
 'C2821814M26',
 'C2821971M26',
 'C2822148M30',
 'C2822353M30',
 'C2822552M26',
 'C2823957F28',
 'C2824411F30',
 'C2825233F30',
 'C2825536M30',
 'C2825643M27',
 'C2825646F30',
 'C2827173M26',
 'C2827331M27',
 'C2827651M26',
 'C2829581M26',
 'C2829948F26',
 'C2830834M30',
 'C2831534M26',
 'C2832140F28',
 'C2832280M27',
 'C2833191M28',
 'C2833922F29',
 'C2836235F28',
 'C2836357M26',
 'C2839930M29',
 'C2840825F26',
 'C2841116M30',
 'C2842564F26',
 'C2855847F29',
 'C2856617M29',
 'C2857385M27',
 'C2867729F29',
 'C2883140M27',
 'C2888820F30',
 'C2910942M30',
 'C2911249F26',
 'C2913852F29',
 ...]

# 1.3 Locality Sensitive Hashing

Now that you prepared your algorithm, it's query time!
We have prepared some dummy users for you to work with.

Download this csv and report the most similar users (comparing them against the dataset provided in Kaggle).
Did your hashing method work properly, what scores have you obtained and how long did it take to run? Provide information and analysis about the results

# 1.3.1 Pre-processing Query dataset

In [241]:
query = pd.read_csv("/Users/giacomo/Desktop/ADM_HW4/query_users.csv")

In [242]:
query

,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,27/7/78,M,DELHI,94695.61,2/9/16,140310,65.00
1,6/11/92,M,PANCHKULA,7584.09,2/9/16,120214,6025.00
2,14/8/91,M,PATNA,7180.60,10/8/16,221732,541.50
3,3/1/87,M,CHENNAI,56847.75,29/8/16,144138,1000.00
4,4/1/95,M,GURGAON,84950.13,25/9/16,233309,80.00
5,10/1/81,M,WORLD TRADE CENTRE BANGALORE,23143.95,11/9/16,192906,303.00
6,20/9/76,F,CHITTOOR,15397.80,28/8/16,92633,20.00
7,10/4/91,M,MOHALI,426.30,2/8/16,203754,50.00
8,19/3/90,M,MOHALI,4609.34,26/8/16,184015,300.00
9,19/12/70,M,SERAMPORE,6695988.46,27/8/16,144030,299.00
10,26/2/89,M,BANGALORE,5974.56,6/8/16,220151,300.00
11,22/8/84,M,BANGALORE,268.09,11/8/16,203131,2244.00
12,21/9/79,M,LUDHIANA,38785.44,22/8/16,185953,690.00
13,17/6/92,F,BANGALORE,19767.76,12/8/16,232822,4912.00
14,1/8/86,M,HYDERABAD,21713.09,11/9/16,150136,284.00
15,1/1/1800,M,GURGAON,28333.11,31/8/16,160307,1000.00
16,17/12/91,F,MUMBAI,1981.59,5/8/16,214323,401.00
17,1/1/1800,M,NEW DELHI,176303.02,9/8/16,133414,1347.00
18,7/7/93,M,GURGAON,27930.23,8/9/16,25212,60.00
19,21/6/89,M,CHENNAI,6399.24,3/8/16,201328,404.00
20,18/9/82,F,NOIDA,498859.06,22/8/16,94901,40000.00
21,21/8/62,F,BANGALORE,108941.24,14/9/16,154153,1280.00
22,17/8/88,M,NEW DELHI,125934.77,10/8/16,104836,197.00
23,5/12/65,M,AHMEDABAD,47403.83,28/8/16,195559,3460.00
24,10/7/94,M,PRAKASAM DIST (AP),26655.05,2/8/16,220553,150.00
25,25/10/75,M,BANGALORE,10072.85,4/8/16,144551,862.44
26,1/11/89,M,VADODARA,101424.95,25/9/16,183541,990.00
27,16/10/83,M,MUMBAI,64389.91,9/9/16,193308,220.00
28,16/2/87,M,HYDERABAD,12793.16,8/8/16,212021,199.00
29,1/1/1800,M,MUMBAI,205.70,30/8/16,160056,1933.52
30,10/12/86,M,AURANGABAD,170981.48,7/8/16,205242,1137.00
31,6/6/69,M,HODEL,995009.07,4/8/16,181055,3000.00
32,1/1/1800,M,CHENNAI,6771.64,17/8/16,211438,282.90
33,7/4/84,F,NEW DELHI,103832.66,9/9/16,141846,1290.23
34,15/9/91,M,SECUNDERABAD,602296.81,11/9/16,184655,2937.48
35,28/1/91,F,N T PUNE,23299.53,10/9/16,220846,212.00
36,6/2/86,M,NEW DELHI,398248.26,1/8/16,220403,3180.00
37,31/7/87,M,BANGALORE,1660.45,14/8/16,203911,100.86
38,29/5/84,M,NEW DELHI,11349.64,2/9/16,144724,5598.00
39,22/1/88,M,HYDERABAD,10994.33,2/8/16,153712,60.00
40,18/2/87,M,CHENNAI,2887.39,24/8/16,181703,20.00
41,1/3/86,M,IMPHAL,31987.86,19/8/16,145712,203.00
42,2/11/81,F,NEW DELHI,85626.45,12/9/16,105636,1500.00
43,2/12/90,F,NEW DELHI,3156.39,4/8/16,204616,199.00
44,6/9/72,M,GHAZIABAD,225234.23,24/8/16,171054,347.30
45,30/5/90,F,DELHI,1089764.73,5/9/16,130529,250.00
46,26/9/74,M,CHENNAI,24678.92,17/8/16,215806,60.00
47,2/7/91,M,DIST NORTH GOA BARDEZ,518766.40,14/9/16,182251,90.00
48,7/4/94,F,PUNE,8085.25,5/9/16,191233,1014.00
49,5/1/87,M,DELHI,10989.03,4/9/16,113240,240.00

In [243]:
del query['CustLocation']

First of all we convert them into class of age, richness and expenditure:

In [244]:
query['CustomerDOB'] = pd.to_datetime(query['CustomerDOB'])

query['TransactionDate'] = pd.to_datetime(query['TransactionDate'])

In [245]:
query.head(5)

,CustomerDOB,CustGender,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,1978-07-27,M,94695.61,2016-02-09,140310,65.0
1,1992-06-11,M,7584.09,2016-02-09,120214,6025.0
2,1991-08-14,M,7180.60,2016-10-08,221732,541.5
3,1987-03-01,M,56847.75,2016-08-29,144138,1000.0
4,1995-04-01,M,84950.13,2016-09-25,233309,80.0

In [246]:
query['CustomerAge'] = 0

In [247]:
query.loc[query['CustomerDOB'].dt.year != 1800, 'CustomerAge'] = query.loc[query['CustomerDOB'].dt.year != 1800, 'TransactionDate'].dt.year - query.loc[query['CustomerDOB'].dt.year != 1800, 'CustomerDOB'].dt.year

In [248]:
query.head(5)

,CustomerDOB,CustGender,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),CustomerAge
0,1978-07-27,M,94695.61,2016-02-09,140310,65.0,38
1,1992-06-11,M,7584.09,2016-02-09,120214,6025.0,24
2,1991-08-14,M,7180.60,2016-10-08,221732,541.5,25
3,1987-03-01,M,56847.75,2016-08-29,144138,1000.0,29
4,1995-04-01,M,84950.13,2016-09-25,233309,80.0,21

In [249]:
del query['TransactionDate'], query['TransactionTime'], query['CustomerDOB']

In [250]:
bins = np.array(list(range(16, 102, 5)))

def age(age):
    
    class_age = np.digitize(age, bins, right=False)  #return the number of the bin
    
    age = 'age_' + str(class_age)
        
    return age

In [251]:
query['CustomerClassAge'] = query.CustomerAge.apply(lambda x: age(x))

In [252]:
del query['CustomerAge']

In [253]:
bin_labels = ['richness_0', 'richness_1', 'richness_2', 'richness_3', 'richness_4', 'richness_5', 'richness_6', 'richness_7', 'richness_8', 'richness_9', 'richness_10']

In [254]:
%store -r query_bins_richness

In [255]:
%store -r query_bins_expenditure

In [256]:
query['Richness'] = pd.cut(query.CustAccountBalance, bins = query_bins_richness, labels=bin_labels, right=False)

In [257]:
del query['CustAccountBalance']

In [258]:
bin_labels = ['exp_1', 'exp_2', 'exp_3', 'exp_4', 'exp_5', 'exp_6', 'exp_7', 'exp_8', 'exp_9', 'exp_10']

In [259]:
query['Expenditure'] = pd.cut(query['TransactionAmount (INR)'], bins = query_bins_expenditure, labels=bin_labels, right=False)

In [260]:
del query['TransactionAmount (INR)']

In [261]:
query['sub'] = 'Query_User_'

In [262]:
query['num'] = range(50)

In [263]:
query['Name'] = query['sub'] + query['num'].astype(str)

In [264]:
del query['num'], query['sub']

In [265]:
query = query[['Name', 'CustGender', 'CustomerClassAge', 'Richness', 'Expenditure']]

In [278]:
query.head()

           Name CustGender CustomerClassAge    Richness Expenditure
0  Query_User_0          M            age_5  richness_9       exp_2
1  Query_User_1          M            age_2  richness_4      exp_10
2  Query_User_2          M            age_2  richness_4       exp_6
3  Query_User_3          M            age_3  richness_8       exp_8
4  Query_User_4          M            age_2  richness_9       exp_2

# 1.3.2 Minhash on query

In [267]:
shingles = ['F', 'M', 'age_1', 'age_10', 'age_11', 'age_12', 'age_13', 'age_14', 'age_15', 'age_16', 'age_17', 'age_2', 'age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8', 'age_9', 'richness_0', 'richness_1', 'richness_10', 'richness_2', 'richness_3', 'richness_4', 'richness_5', 'richness_6', 'richness_7', 'richness_8', 'richness_9', 'exp_1', 'exp_10', 'exp_2', 'exp_3', 'exp_4', 'exp_5', 'exp_6', 'exp_7', 'exp_8', 'exp_9']

In [268]:
shingle_query = np.zeros((50, 40), dtype = int)

for i in tq(range(len(query))):
    # Append the one hot vectors as rows
    shingle_query[query.index[i]] = one_hot_vector(query, i) 

# We need to transpose because for the shuffling, the Shingles need to be the rows
shingle_query = shingle_query.T

100%|██████████████████████████████████████████| 50/50 [00:00<00:00, 902.87it/s]

In [272]:
query.loc[1]

Name                Query_User_1
CustGender                     M
CustomerClassAge           age_2
Richness              richness_4
Expenditure               exp_10
Name: 1, dtype: object

In [277]:
shingle_query[:, 1]

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0])

In [279]:
n_permutations = 20 #number of permutations = number of rows of the signature matrix
np.random.seed(145)
signature_query= np.zeros((20, shingle_query.shape[1]), dtype = int)

for i in tq(range(n_permutations)):
    # 1. Shuffle rows
    np.random.shuffle(shingle_query)
    
    # 2. Create the vector of indeces where the first 1 is found. np.argmax stops at the first occurrence
    signature_row = np.argmax(shingle_query == 1, axis=0) + 1
    
    # 3. Add to signature matrix
    signature_query[i] = signature_row

100%|█████████████████████████████████████████| 20/20 [00:00<00:00, 5839.62it/s]

In [233]:
indexes = list(range(signature_query.shape[1])) #create a list of indexes 

signature_query_transposed = signature_query.T 

for i in tq(range(0, signature_query.shape[0], b)):
    
    mini_vectors = signature_query_transposed[:, i:i+b]
    
    c = [(i, tuple(v)) for v, i in sorted(zip(mini_vectors.tolist(), indexes))]
    
    curr_vector = c[0][1] #take the subvector from the tuple composed by index and subvector
    
    #Now we have equal subvector as neighbor, so we can iterate over these groups of equal subvector
    for i, v in c:  
        
        if v not in cluster: #if the subvector is not a key in the cluster --> initialize it 
            
            cluster[v] = []
        
        if curr_vector != v: #when the iteration go over the group of equal subvector updtate the current vector
            
            curr = v

        cluster[v].append(query.loc[i]['Name'])

100%|█████████████████████████████████████████████| 5/5 [00:00<00:00, 29.96it/s]

In [238]:
from collections import defaultdict

In [239]:
dd = defaultdict(list)

for d in (cluster, cluster_query): 
    for key, value in d.items():
        
        dd[key].append(value)

[['Query_User_3']]