# 1.2 Fingerprint hashing

Using the previously selected data with the features you found pertinent, you have to:

Implement your minhash function from scratch. No ready-made hash functions are allowed. Read the class material and search the internet if you need to. For reference, it may be practical to look at the description of hash functions in the book.

Process the dataset and add each record to the MinHash. The subtask's goal is to try and map each consumer to its bin; to ensure this works well, be sure you understand how MinHash works and choose a matching threshold to use. Before moving on, experiment with different thresholds, explaining your choice.

In [1]:
import pandas as pd
from tqdm import tqdm as tq
import warnings
import numpy as np
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("/Users/giacomo/Desktop/ADM_HW4/data.csv", sep = '\t')

In [3]:
df

,Unnamed: 0,New_ID,CustGender,CustomerClassAge,Richness,Expenditure
0,0,C1010011F24,F,age_2,richness_7,exp_10
1,1,C1010011M33,M,age_4,richness_9,exp_5
2,2,C1010012M22,M,age_2,richness_6,exp_8
3,3,C1010014F24,F,age_2,richness_7,exp_8
4,4,C1010014M32,M,age_4,richness_9,exp_4
...,...,...,...,...,...,...
1034947,1034947,C9099836M26,M,age_3,richness_9,exp_7
1034948,1034948,C9099877M20,M,age_1,richness_9,exp_4
1034949,1034949,C9099919M23,M,age_2,richness_3,exp_3
1034950,1034950,C9099941M21,M,age_2,richness_7,exp_1
1034951,1034951,C9099956M34,M,age_4,richness_4,exp_7

In [4]:
del df['Unnamed: 0']

# 1.2.1 Shingles

First of all we build the shingles from all the unique values per column in the loaded dataset. We ignore the `TransactionID` column because it is not a shingle.

In [5]:
shingles = []
for column_name in df.columns[1:]:
    shingles += sorted(list(df[column_name].unique()))
    
shingles.remove('age_0')

#In order to not aggregate people who are labelled with age_0, corresponding to the Customer DOB with year 1800 
#(nan), we decided to remove age_0 from shingles such that those people will not have any 1 in the shingle matrix.
#For that reason they will not be considered similar to anyone for the age, but only for the other fields.

In [6]:
print(shingles)

['F', 'M', 'age_1', 'age_10', 'age_11', 'age_12', 'age_13', 'age_14', 'age_15', 'age_16', 'age_17', 'age_2', 'age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8', 'age_9', 'richness_0', 'richness_1', 'richness_10', 'richness_2', 'richness_3', 'richness_4', 'richness_5', 'richness_6', 'richness_7', 'richness_8', 'richness_9', 'exp_1', 'exp_10', 'exp_2', 'exp_3', 'exp_4', 'exp_5', 'exp_6', 'exp_7', 'exp_8', 'exp_9']

# 1.2.2 Create Shingle Matrix

First of all we create the function which maps each transaction into a vector of 0/1 based on the shingles.

In [7]:
def one_hot_vector(data, index):
    """Creates a one hot vector for the row found in the data at the given index based on the shingles.
    
    :args
    data - a pandas dataframe containing the data.
    index - an int which corresponds to the row that will be turned into a one hot vector.
    
    :returns
    a numpy array one hot representation of the row
    """
    
    values = data.loc[index][['CustGender', 'CustomerClassAge', 'Richness', 'Expenditure']].values #extract values
    
    indeces = np.where(values.reshape(values.size, 1) == shingles)[1]  #save indexes
    
    vector = np.zeros(len(shingles), dtype = int)  #initialize vector
    
    vector[indeces] = 1  #substitute 1 in the correct positions
    
    return vector

Example:

In [8]:
print(shingles)

['F', 'M', 'age_1', 'age_10', 'age_11', 'age_12', 'age_13', 'age_14', 'age_15', 'age_16', 'age_17', 'age_2', 'age_3', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8', 'age_9', 'richness_0', 'richness_1', 'richness_10', 'richness_2', 'richness_3', 'richness_4', 'richness_5', 'richness_6', 'richness_7', 'richness_8', 'richness_9', 'exp_1', 'exp_10', 'exp_2', 'exp_3', 'exp_4', 'exp_5', 'exp_6', 'exp_7', 'exp_8', 'exp_9']

In [9]:
df.loc[1]

New_ID              C1010011M33
CustGender                    M
CustomerClassAge          age_4
Richness             richness_9
Expenditure               exp_5
Name: 1, dtype: object

In [10]:
print(one_hot_vector(df, 1))

[0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0
 0 0 0]

In [11]:
len(df)

1034952

Now we can build a sparse matrix with all the encoded transaction. We don't need to insert into the matrix the name of the customerIDs cause we they are linked to the index of the shingle matrix through the index of the column.

In [12]:
shingle_matrix = np.zeros((1034952, 40), dtype = int)

for i in tq(range(len(df))):
    # Append the one hot vectors as rows
    shingle_matrix[df.index[i]] = one_hot_vector(df, i) 

# We need to transpose because for the shuffling, the Shingles need to be the rows
shingle_matrix = shingle_matrix.T

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1034952/1034952 [13:05<00:00, 1316.87it/s]

In [13]:
%store shingle_matrix

Stored 'shingle_matrix' (ndarray)

In [14]:
shingle_matrix.shape

(40, 1034952)

# 1.2.3 Create the Signature Matrix
From the Shingle Matrix, we will now create the signature matrix by doing the following:
1. Shuffle the rows of the Shingle Matrix.
1. Create a vector where each element corresponds to the index of the row of each column (Shingle) where the first 1 is found.
1. Append this vector to the Signature Matrix.
1. Repeat $n$ times.

The goal of the MinHash is to replace a large set with a smaller "signature" that still preserves the underlying similarity metric.

In [15]:
n_permutations = 20
signature_matrix = np.zeros((20, shingle_matrix.shape[1]), dtype = int)

In [16]:
for i in tq(range(n_permutations)):
    # 1. Shuffle rows
    np.random.shuffle(shingle_matrix)
    
    # 2. Create the vector of indeces where the first 1 is found. np.argmax stops at the first occurrence
    signature_row = np.argmax(shingle_matrix == 1, axis=0) + 1
    
    # 3. Add to signature matrix
    signature_matrix[i] = signature_row

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 20/20 [00:33<00:00,  1.69s/it]

In [17]:
signature_matrix

array([[23,  1,  8, ..., 16, 13,  3],
       [ 3,  6,  2, ..., 14,  3,  5],
       [12, 14,  3, ...,  6, 14, 14],
       ...,
       [ 9,  2, 13, ..., 13, 13,  2],
       [ 3,  1,  7, ...,  4,  7, 14],
       [ 3, 22,  1, ...,  5, 10, 30]])

In [18]:
signature_matrix.shape

(20, 1034952)

The index of the column can be referred to the customer ID looking at the index of the initial dataframe:

In [19]:
df

              New_ID CustGender CustomerClassAge    Richness Expenditure
0        C1010011F24          F            age_2  richness_7      exp_10
1        C1010011M33          M            age_4  richness_9       exp_5
2        C1010012M22          M            age_2  richness_6       exp_8
3        C1010014F24          F            age_2  richness_7       exp_8
4        C1010014M32          M            age_4  richness_9       exp_4
...              ...        ...              ...         ...         ...
1034947  C9099836M26          M            age_3  richness_9       exp_7
1034948  C9099877M20          M            age_1  richness_9       exp_4
1034949  C9099919M23          M            age_2  richness_3       exp_3
1034950  C9099941M21          M            age_2  richness_7       exp_1
1034951  C9099956M34          M            age_4  richness_4       exp_7

[1034952 rows x 5 columns]

For example the first column of the signature matrix is referred to the customer C1010011F24.

# 1.2.4 Divide Signature Matrix into Bands

The example signature matrix below is divided into $b$ bands of $r$ rows each, and each band is hashed separately. For this example, we are setting band , which means that we will consider any titles with the same first two rows to be similar. The larger we make b the less likely there will be another Paper that matches all of the same permutations.

![signature_matrix_into_bands](https://storage.googleapis.com/lds-media/images/locality-sensitive-hashing-lsh-buckets.width-1200.png)

Ultimately, the size of the bands control the probability that two items with a given Jaccard similarity end up in the same bucket. If the number of bands is larger, you will end up with much smaller sets. For instance, $b = p$, where $p$ is the number of permutations (i.e. rows in the signature matrix) would almost certainly lead to $N$ buckets of only one item because there would be only one item that was perfect similar across every permutation.

In [37]:
b = 4

In [38]:
signature_matrix.T[:, 0:3]

array([[23,  3, 12],
       [ 1,  6, 14],
       [ 8,  2,  3],
       ...,
       [16, 14,  6],
       [13,  3, 14],
       [ 3,  5, 14]])

In order to create the buckets we decide to create a dictionary that will have the sub_vector as keys and the indexes that contains that subvector. These indexes will allow us to substistute the related customer:

In [39]:
indexes = list(range(signature_matrix.shape[1])) #create a list of indexes 

signature_matrix_transposed = signature_matrix.T #transpose the matrix to get subvectors column

cluster = {} #initialize the dictionary containing as keys the subvector and as values the indexes of the customer

for i in tq(range(0, signature_matrix.shape[0], b)):  #iterate over the row with step size equal to bandsize
    
    #take the subvector of dimension i, i+b (band size) from the column
    mini_vectors = signature_matrix_transposed[:, i:i+b] 
    
    # sorts the subvectors associated to the indexes to maintain the relationship with the index of the customers.
    # We use a tuple instead of a list because tuples can be hashable and therefore 
    # usable as keys for dictionaries. In this way we will have the same subvector as neighbors
    
    c = [(i, tuple(v)) for v, i in sorted(zip(mini_vectors.tolist(), indexes))]
    
    curr_vector = c[0][1] #take the subvector from the tuple composed by index and subvector
    
    #Now we have equal subvector as neighbor, so we can iterate over these groups of equal subvector
    for i, v in c:  
        
        if v not in cluster: #if the subvector is not a key in the cluster --> initialize it 
            
            cluster[v] = []
        
        if curr_vector != v: #when the iteration go over the group of equal subvector updtate the current vector
            
            curr_vector = v

        cluster[v].append(i) #append as values the indexes

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:29<00:00,  5.91s/it]

As example we print the first 5 keys -> subvector:

In [40]:
print(list(cluster.keys())[:5])

[(1, 1, 4, 7), (1, 1, 5, 7), (1, 1, 5, 13), (1, 1, 8, 7), (1, 1, 8, 13)]

For example for the subvector 1,1,1,9 we have as values the indexes of the Customers that have been mapped in the same bucket:

In [47]:
cluster[(1, 1, 5, 13)]

[141,
 803,
 2674,
 4190,
 6203,
 6462,
 6689,
 6997,
 7846,
 7867,
 7977,
 8009,
 8639,
 11495,
 13888,
 14026,
 14353,
 14855,
 15584,
 15916,
 16574,
 17218,
 18704,
 20803,
 22751,
 24056,
 24115,
 24363,
 24754,
 25278,
 27704,
 27741,
 27914,
 27985,
 28291,
 31335,
 31423,
 31730,
 32246,
 32616,
 35911,
 36518,
 37524,
 38719,
 39504,
 40769,
 41906,
 42009,
 42439,
 44413,
 44752,
 45529,
 46690,
 49770,
 50686,
 51440,
 54058,
 54323,
 54390,
 56279,
 56659,
 57228,
 58652,
 59957,
 60050,
 64679,
 65329,
 66948,
 67071,
 68161,
 68164,
 70067,
 70668,
 71417,
 71826,
 75000,
 75058,
 75637,
 76136,
 76503,
 76604,
 78743,
 79008,
 79566,
 81410,
 81502,
 81524,
 82173,
 83805,
 84810,
 87157,
 87917,
 88389,
 88469,
 91448,
 92115,
 93167,
 93704,
 96533,
 97320,
 100422,
 100537,
 100722,
 100806,
 101110,
 102245,
 102248,
 102859,
 107221,
 108448,
 108736,
 110078,
 113572,
 113635,
 113896,
 114156,
 116940,
 118319,
 119097,
 120911,
 121139,
 122791,
 124135,
 124856,
 126126,
 126202,
 126707,
 126832,
 129505,
 131910,
 131995,
 132094,
 132738,
 134180,
 136330,
 139483,
 139576,
 140161,
 140272,
 141706,
 142553,
 143684,
 143704,
 143879,
 144526,
 144944,
 145624,
 146927,
 147488,
 149154,
 151038,
 155883,
 155909,
 156344,
 157477,
 157834,
 159348,
 160617,
 161110,
 161115,
 163858,
 164748,
 165135,
 165172,
 167087,
 168685,
 169212,
 170263,
 171594,
 173184,
 173279,
 174070,
 175890,
 182955,
 185296,
 186176,
 186490,
 189481,
 190016,
 190229,
 190338,
 190530,
 191156,
 192119,
 193141,
 193970,
 194648,
 196185,
 196706,
 197453,
 197839,
 198395,
 199763,
 201927,
 204882,
 205580,
 205958,
 207285,
 207693,
 207907,
 208760,
 208809,
 209021,
 209053,
 212254,
 213514,
 214024,
 214028,
 214756,
 214894,
 215681,
 216061,
 217962,
 218883,
 219775,
 221266,
 221438,
 222786,
 223298,
 224214,
 224450,
 224469,
 225305,
 227157,
 228588,
 229634,
 233679,
 233840,
 234304,
 234861,
 234969,
 235153,
 237742,
 241043,
 242185,
 242760,
 244786,
 245992,
 247046,
 247519,
 249498,
 249987,
 251762,
 253284,
 253359,
 253600,
 254205,
 254278,
 255067,
 257098,
 259591,
 260232,
 260966,
 262222,
 262300,
 262434,
 262776,
 263285,
 264401,
 265171,
 266344,
 267868,
 269819,
 271085,
 271347,
 271563,
 271634,
 272726,
 274063,
 275424,
 275498,
 275671,
 276714,
 277173,
 278134,
 278623,
 279899,
 280150,
 282118,
 283496,
 283737,
 284413,
 284468,
 284872,
 285114,
 285163,
 286066,
 286195,
 288345,
 288477,
 289867,
 290005,
 291073,
 295417,
 299577,
 300583,
 300815,
 302292,
 304301,
 305497,
 306493,
 306497,
 310090,
 312341,
 314391,
 314402,
 314589,
 314684,
 315095,
 315225,
 315404,
 319107,
 319207,
 321241,
 322477,
 322521,
 324445,
 324455,
 324625,
 324913,
 325111,
 325725,
 326962,
 328879,
 330132,
 330590,
 336526,
 337776,
 338164,
 338737,
 338988,
 339651,
 342294,
 342405,
 343329,
 343536,
 343781,
 344759,
 345501,
 346020,
 346833,
 347847,
 348139,
 349111,
 350892,
 351561,
 351870,
 352042,
 354000,
 354393,
 356432,
 356434,
 356743,
 357344,
 360342,
 360562,
 362678,
 363577,
 364802,
 365188,
 365646,
 369136,
 369173,
 369607,
 373517,
 373841,
 374800,
 377732,
 378692,
 379087,
 381084,
 383158,
 384574,
 384763,
 386361,
 387816,
 388339,
 388890,
 390849,
 390905,
 392408,
 392541,
 393015,
 393858,
 394405,
 395211,
 397290,
 398977,
 399812,
 399914,
 401750,
 407572,
 407875,
 409083,
 409337,
 411345,
 413736,
 413836,
 414810,
 415597,
 417123,
 417397,
 417661,
 419707,
 419789,
 419840,
 421160,
 421273,
 421685,
 421762,
 422238,
 423399,
 424596,
 424676,
 425131,
 426142,
 427591,
 428461,
 428558,
 428622,
 428968,
 429470,
 432115,
 436005,
 439024,
 440384,
 440853,
 441473,
 441532,
 441577,
 442353,
 443722,
 446243,
 446736,
 446966,
 447825,
 449707,
 452452,
 453596,
 453952,
 455090,
 455811,
 456935,
 457385,
 457419,
 457925,
 458260,
 459500,
 460039,
 461106,
 461981,
 462496,
 463983,
 464370,
 464687,
 467101,
 467174,
 469372,
 470409,
 470682,
 470742,
 471078,
 471515,
 471648,
 471658,
 471698,
 472219,
 472243,
 473378,
 474116,
 476756,
 476847,
 477421,
 480845,
 480928,
 480999,
 484169,
 485027,
 485831,
 486279,
 486689,
 488239,
 488634,
 491460,
 492164,
 492921,
 493112,
 493154,
 493610,
 495292,
 496443,
 496666,
 498372,
 498619,
 499664,
 500436,
 500567,
 500582,
 504230,
 506355,
 509206,
 509254,
 511319,
 512511,
 512814,
 514774,
 515572,
 516791,
 518543,
 519275,
 521756,
 522006,
 522925,
 523021,
 523588,
 524450,
 524606,
 524920,
 526942,
 527371,
 527986,
 529414,
 529797,
 530072,
 531540,
 532146,
 532340,
 534639,
 536124,
 536465,
 536876,
 537021,
 538683,
 539741,
 539911,
 540206,
 542586,
 543345,
 544984,
 545299,
 546744,
 547571,
 548034,
 548243,
 549482,
 553333,
 554196,
 554648,
 554863,
 555276,
 555408,
 555785,
 555890,
 556028,
 558861,
 559225,
 560354,
 560380,
 562381,
 564283,
 565038,
 565470,
 568028,
 568289,
 569983,
 569992,
 571707,
 572917,
 577116,
 577602,
 577714,
 579331,
 581905,
 583853,
 587359,
 589125,
 589160,
 592879,
 592887,
 592898,
 593160,
 593166,
 593632,
 595100,
 595181,
 595425,
 595968,
 598134,
 598923,
 600431,
 600461,
 605042,
 606188,
 606195,
 607108,
 607367,
 607683,
 608242,
 608934,
 611107,
 612722,
 613811,
 615985,
 616265,
 617708,
 618457,
 618883,
 620068,
 620545,
 621332,
 621396,
 621642,
 621819,
 622761,
 623671,
 623747,
 625146,
 625390,
 626762,
 627608,
 630101,
 631032,
 631795,
 633872,
 634217,
 635295,
 635530,
 635782,
 635941,
 636708,
 637000,
 638423,
 640532,
 640928,
 641360,
 641736,
 642743,
 644596,
 645368,
 646578,
 649491,
 651260,
 651307,
 651903,
 654047,
 654984,
 657105,
 660212,
 660224,
 660664,
 663295,
 663886,
 668622,
 669915,
 670773,
 671033,
 672240,
 674882,
 677245,
 677689,
 678532,
 679142,
 679226,
 680280,
 680592,
 680646,
 682329,
 684079,
 685435,
 685663,
 686045,
 686345,
 687140,
 688254,
 689361,
 691625,
 692197,
 693231,
 693712,
 693782,
 694219,
 694601,
 694924,
 695043,
 696744,
 697186,
 697470,
 701157,
 703203,
 704375,
 705610,
 708726,
 709399,
 709989,
 710555,
 712520,
 712625,
 713021,
 713854,
 714717,
 714721,
 714922,
 715830,
 715901,
 716158,
 716623,
 716864,
 716926,
 717317,
 717368,
 719233,
 719575,
 721641,
 725277,
 725398,
 725473,
 726213,
 726570,
 727112,
 727564,
 727717,
 728632,
 729321,
 729541,
 731726,
 732568,
 732598,
 733115,
 735793,
 735901,
 736611,
 738797,
 738968,
 740872,
 742564,
 743737,
 745162,
 745524,
 745530,
 745540,
 745785,
 746414,
 746534,
 746743,
 747403,
 749752,
 750549,
 751671,
 751975,
 752263,
 752425,
 755087,
 756434,
 757338,
 758034,
 759561,
 760846,
 761472,
 761769,
 763285,
 763412,
 763690,
 764176,
 764178,
 772204,
 773638,
 773648,
 775387,
 775745,
 776944,
 777661,
 777724,
 780089,
 784844,
 785237,
 785762,
 787185,
 788707,
 789889,
 791239,
 791571,
 791946,
 791983,
 792350,
 793682,
 794314,
 794860,
 795086,
 798334,
 798537,
 798641,
 799044,
 799993,
 800185,
 800257,
 802629,
 802722,
 802818,
 806594,
 806734,
 807604,
 808272,
 810093,
 810131,
 810855,
 811637,
 812101,
 812103,
 812518,
 814871,
 815900,
 818103,
 819110,
 820238,
 820310,
 821730,
 823426,
 824150,
 824414,
 825407,
 827906,
 828218,
 828467,
 829080,
 829199,
 829912,
 831822,
 832622,
 833216,
 834073,
 834441,
 834475,
 835546,
 836338,
 837015,
 837472,
 837714,
 838368,
 840221,
 842239,
 842356,
 845793,
 845906,
 845909,
 849095,
 851282,
 853362,
 854479,
 854581,
 854747,
 855028,
 855599,
 856126,
 856388,
 856879,
 858405,
 858922,
 860313,
 860805,
 861036,
 861763,
 861959,
 864717,
 866886,
 868009,
 868656,
 869113,
 870944,
 872649,
 874222,
 876698,
 876704,
 879545,
 879785,
 880881,
 882099,
 883004,
 883117,
 886884,
 888991,
 890051,
 890131,
 890202,
 891395,
 894675,
 895406,
 897289,
 897983,
 898277,
 901080,
 901412,
 903221,
 903497,
 904500,
 905353,
 905373,
 905462,
 905708,
 906024,
 906482,
 907843,
 908298,
 908859,
 909140,
 910403,
 910496,
 911283,
 911629,
 911660,
 912162,
 913193,
 916188,
 918131,
 918193,
 918839,
 919452,
 921205,
 923049,
 926797,
 927489,
 930539,
 931434,
 932891,
 932949,
 933422,
 933676,
 933912,
 934303,
 934448,
 934741,
 935192,
 935222,
 935341,
 935456,
 936965,
 938050,
 940220,
 940695,
 942152,
 942489,
 942821,
 943167,
 943708,
 944011,
 945976,
 947326,
 951285,
 951392,
 953676,
 954387,
 954661,
 956466,
 957160,
 957614,
 963158,
 965446,
 965678,
 965783,
 965938,
 968066,
 969098,
 970507,
 971088,
 972636,
 972684,
 975094,
 977031,
 977252,
 978753,
 981922,
 982849,
 984937,
 986521,
 986785,
 986875,
 987328,
 989343,
 989663,
 989935,
 992100,
 995529,
 995736,
 996154,
 997230,
 998055,
 998399,
 999622,
 999715,
 999729,
 1000797,
 1002414,
 1002624,
 1004216,
 1004250,
 1007619,
 1009578,
 1009635,
 1009863,
 1011243,
 1013263,
 ...]

Through them we can recover the customers and visually check for their similarity

In [48]:
df.loc[cluster[(1, 1, 5, 13)]]

              New_ID CustGender CustomerClassAge    Richness Expenditure
141      C1010414F27          F            age_3  richness_8       exp_5
803      C1012550F29          F            age_3  richness_8       exp_5
2674     C1018118F28          F            age_3  richness_8       exp_5
4190     C1022681F27          F            age_3  richness_8       exp_5
6203     C1028737F28          F            age_3  richness_8       exp_5
...              ...        ...              ...         ...         ...
1030101  C9033591F27          F            age_3  richness_8       exp_5
1032215  C9040245F26          F            age_3  richness_8       exp_5
1032891  C9042424F29          F            age_3  richness_8       exp_5
1033931  C9069748F27          F            age_3  richness_8       exp_5
1034663  C9092046F29          F            age_3  richness_8       exp_5

[1021 rows x 5 columns]

We decided to convert each list of indexes of every keys with the list of the related Customers

In [49]:
for key in cluster.keys():
    
    cluster[key] = df.loc[cluster[key]]['New_ID'].to_list()

Now the dictionary cluster contains as keys the name of the bucket (subvector) and as values the CustomerIDs.

# 1.3 Locality Sensitive Hashing

Now that you prepared your algorithm, it's query time!
We have prepared some dummy users for you to work with.

Download this csv and report the most similar users (comparing them against the dataset provided in Kaggle).
Did your hashing method work properly, what scores have you obtained and how long did it take to run? Provide information and analysis about the results

In [ ]:
query = pd.read_csv("/Users/giacomo/Desktop/ADM_HW4/query_users.csv")

In [ ]:
query

First of all we convert them into class of age, richness and expenditure:

In [ ]:
query['CustomerDOB'] = pd.to_datetime(query['CustomerDOB'])

query['TransactionDate'] = pd.to_datetime(query['TransactionDate'])

In [ ]:
query.head(5)

In [ ]:
query['CustomerAge'] = 0

In [ ]:
query.loc[query['CustomerDOB'].dt.year != 1800, 'CustomerAge'] = query.loc[query['CustomerDOB'].dt.year != 1800, 'TransactionDate'].dt.year - query.loc[query['CustomerDOB'].dt.year != 1800, 'CustomerDOB'].dt.year

In [ ]:
query.head(5)

In [ ]:
del query['TransactionDate']

In [ ]:
bins = np.array(list(range(16, 102, 5)))

def age(age):
    
    class_age = np.digitize(age, bins, right=False)  #return the number of the bin
    
    age = 'age_' + str(class_age)
        
    return age

In [ ]:
query['CustomerClassAge'] = query.CustomerAge.apply(lambda x: age(x))

In [ ]:
bin_labels = ['richness_0', 'richness_1', 'richness_2', 'richness_3', 'richness_4', 'richness_5', 'richness_6', 'richness_7', 'richness_8', 'richness_9', 'richness_10']

In [ ]:
query['Richness'] = pd.qcut(query['CustAccountBalance'], q = [0,0.01, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], labels = bin_labels)

In [ ]:
del query['CustAccountBalance']

In [ ]:
bin_labels = ['exp_1', 'exp_2', 'exp_3', 'exp_4', 'exp_5', 'exp_6', 'exp_7', 'exp_8', 'exp_9', 'exp_10']

In [ ]:
query['Expenditure'] = pd.qcut(query['TransactionAmount (INR)'], q = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], labels = bin_labels)

In [ ]:
del query['TransactionAmount (INR)'], query['CustomerAge']

In [ ]:
query